In [1]:
"""
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Ans :-
"""

string_variable = 'this is string' ## this is string

list_variable = ["item1","item2","item3"] ## this is list

float_variable = 3.97 ## this is float

tuple_variable = ("item1","item2","item3") ## this is tuple

one_variable = [string_variable,list_variable,float_variable,tuple_variable] ## this is one type of list which is containing all opations types

print(one_variable)

['this is string', ['item1', 'item2', 'item3'], 3.97, ('item1', 'item2', 'item3')]

In [ ]:
"""
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

ANS :-
"""

## we can find data type using type(variable name)

## 1) -> var1 is string type of data.

## 2) -> var2 is string type of data.

## 3) -> var3 is list type of data.

## 4) -> var4 is integer type of data.

In [2]:
"""
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

ANS :-
"""

## 1) -> / this is Division operator it one type of arithmetic operator and it is used for division for example :-

print(10 / 2) ## this will give 5

## 2) -> % this is Modulus operator it is also one type of arethmetic operator it is used for find modulus for example :-

print (10 % 2) ## this will give 0

## 3) -> // this is Floor division it is also one type of arethmetic operators for exapmle :-

print(15 // 2) # rounds the result down to the nearest whole number it will give 7

## 4) -> ** this is Exponentiation operator it is also one type of arethmetic operators for example :-

print(2 ** 5) #same as 2*2*2*2*2

5.0
0
7
32

In [3]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

ANS :-
"""

mylist = [9,"this is string",True,3.99,[1,2],1j,("a","b"),None,8,9]

for x in mylist:
  print(f"element : {x}" )
  print(f"element type : {type(x)}")

element : 9
element type : <class 'int'>
element : this is string
element type : <class 'str'>
element : True
element type : <class 'bool'>
element : 3.99
element type : <class 'float'>
element : [1, 2]
element type : <class 'list'>
element : 1j
element type : <class 'complex'>
element : ('a', 'b')
element type : <class 'tuple'>
element : None
element type : <class 'NoneType'>
element : 8
element type : <class 'int'>
element : 9
element type : <class 'int'>

In [4]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

ANS :-
"""

A = 33
B = 3
count = 0

while A % B == 0:
    print(f"{A} is purely divisible by {B}")
    A = A / B
    count += 1
    
else:
    print(f"{A} is not purely divisible by {B}")
    A = A*B
    
if count > 0:    
    print(f"we can divisible Number A by Number B for {count} time")

33 is purely divisible by 3
11.0 is not purely divisible by 3
we can divisible Number A by Number B for 1 time

In [5]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

ANS :-
"""

intlist = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for x in intlist:
  if x % 3 == 0:
    print(f"{x} is divisible by 3")
  else:
    print(f"{x} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [ ]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

ANS :-
"""

## mutable data type
## A mutable type of data can be changed after it is created
## for example :- List,Set,Dictionary

## immutable data type
## An immutable type of data cannot be changed after it is created
## for exapmle :- tuples, int, float